
# git will not track anything under folder/node directory
Folder/
node_modules/
bin/


# eclipse builds
.settings
.bin
.class
.classpath
.project
.settings
.idea
.metadata


# matching any files ending with the .[ ] extensions
*.iml
*.ipr
*.com
*.class
*.dll
*.exe
*.o
*.so